################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Comic Hero/node_modules
/Comic-Hero/
